body {
	background-image: url("../images/blazers.jpg");
	background-size: cover;
	font-family: trebuchet ms;
	font-weight: bold;
	color: white;
}

h1 {
	font-size: 50px;
}

a.imageLink {
    text-decoration: none;
}

nav {
	margin-right: 45px;
}

nav ul li {
	display: inline-block;
	padding: 12px 20px;
	font-size: 18px;
}

nav ul li .selected {
	padding: 12px 20px;
	background-color: darkred;
	font-size: 18px;
}

nav ul li a {
	color: white;
}

ul {
 list-style: none;
}

footer {
	clear: both;
}