a:hover, a:visited, a:link, a:active, a.imageLink
{
    text-decoration: none;
}

body {
	height: 100%;

    font-family: 'Roboto Mono', monospace;
	color: black;
}

header {
    font-family: 'Schoolbell', cursive;
}

nav {
	margin-right: 45px;
}

nav ul li {
	display: inline-block;
	padding: 12px 20px;
	font-size: 18px;
}

nav ul li .selected {
	padding: 12px 20px;
	background-color: peru;
	font-size: 18px;
}

.title {
    font-family: 'Schoolbell', cursive;
}

nav ul li a {
	color: black;
}

ul {
    list-style: none;
}

p {
    color: black;
    line-height: 200%;
    margin-top: 35px;
    margin-left: 28%;
    margin-right: 28%;
}

p a {
	color: peru;
}

.title {
    margin-left: 28%;
    margin-right: 28%;
}

.left-body {
	opacity: 0.2;
	filter: alpha(opacity=50);
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

img.topgolf {
    margin-top: 40px;
}

img.old_course {
    margin-top: 40px;
}

img.torrey {
    margin-top: 40px;
    width: 50%;
    height: 50%;
    display: block;
}

img.tiger_1996 {
    margin-top: 40px;
    width: 55%;
    height: 55%;
}

img.first_tee {
    margin-top: 40px;
    width: 55%;
    height: 55%;
}

img {
    margin-top: 80px;
    width: 60%;
    height: 60%;
    display: block;
    margin: 0 auto;
}

figure figcaption.n {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}

.tiger {
    margin-top: 40px;
    display: block;
    text-align: center;
}